/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(./assets/pexels-pixabay-261621.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  // padding: 30px;
}
